body{
  margin : 0;
  padding : 0;
}

h1{
  background-color: rgb(15, 6, 255);
  color : white;
  text-align: center;
  padding: 20px;
}

.conteudo
{
  width: 300px;
  margin: 20px auto;
  box-shadow: 0px 0px 5px rgb(15, 6, 255);
  padding: 10px;
}
